* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.dh {
    display: inline-block;
}

.input {
    width: 200px;
    height: 35px;
    background-color: #F0F2F5;
    border-radius: 999px;
    border: none;
    display: inline-block;
    padding-left: 20px;
    
}
/* .input::placeholder {
  padding-left:   20px;
} */
body{
    background-color: #F0F2F5;
}
/* .flex1 {
    display: flex;
    justify-content: space-around;

} */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9;
    height: 60px;
    width: 100%;
    background-color: white;
    margin-top: 0px;
    
}
#flex1 {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    height: 50px;
    cursor: pointer;
    
}
.flex2 {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
   
}
.flex3 {
    display: flex;
    align-items: center;
}
.round-btn1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E4E6EB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:5px;
    margin-left: 5px;
    
}

.round-btn1:hover {
    background-color: #D8DADF;
}
.imga {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 10px;
    
}
.imga1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 5px;
   
    
}
#tt0, #tt1, #tt2, #tt3, #tt4 {
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: grey;
    /* border-bottom: 2px solid #3498DB; */
   
}
#tt0:hover {
    background-color:#E4E6EB;
    border-radius: 10px;
}
#tt1:hover {
    background-color:#E4E6EB;
    border-radius: 10px;
}
#tt2:hover {
    background-color:#E4E6EB;
    border-radius: 10px;
}
#tt3:hover {
    background-color:#E4E6EB;
    border-radius: 10px;
}
#tt4:hover {
    background-color:#E4E6EB;
    border-radius: 10px;
}
/* Thịnh */
.t-angeladown{
  width: 15px;
  height: 15px;
  background-color: #E4E6EB;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.t-hang5 img{
  border-radius: 50%;
}

.t-hang5{
  cursor: pointer;
  padding: 9px;
  border-radius: 5px;
  margin-left: -6px;
  margin-top: -10px;
}

.t-hang5:hover{
  background-color: #F2F2F2;
}

.t-div1 a{
  text-decoration: none;
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: -6px;
  margin-top: -2px;
  font-weight: 500;
}

.t-div1 a:hover{
  background-color: #F2F2F2;
}

.t-hang12345{
  padding:  5px;
  border-radius: 5px;
  margin-left: -6px;
  margin-top: -2px;
}
.t-hang12345:hover{
  background-color: #F2F2F2;
}

.t-hang12345 .t-cot12 i{
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E4E6EB;
  border-radius: 50%;

}
.mb-5 {
  margin-bottom: 1rem!important;
}

.t-hang6 .t-hover:hover{
  cursor: pointer;
  text-decoration: underline;
}

.imga1 :hover{
  background-image: none;
  filter: brightness(0.95);
}

/* Duy */
  /* Leader */
  
*{
font-family: Arial, Helvetica, sans-serif;
font-weight:500;
font-size: 14px;


}
*:focus{
outline:none;
}
body{
background-color: #F0F2F5;
}

#parent-1{
border:1px solid #E5E5E5;
width: 580px; 
height: 300px;
display:inline-block;
border-radius: 12px;
background-color: white;

}

.stories {
display: flex;
width: 580px;
height: 60px;
padding: 0px 16px;
align-items: center;
justify-content: center;
border-bottom: 1px solid #E5E5E5;
box-sizing: border-box;
border-collapse:collapse ;

}




#story-2 {
width: 156px;
height: 60px;
text-align: center;
line-height: 60px;
transition: 0.1s;

}
#story-2:hover{
background-color: #F2F2F2;
border-radius: 10px 10px 0px 0px;
cursor: pointer;

}
#story-3 {
width: 156px;
height: 60px;
text-align: center;
line-height: 60px;
transition: 0.1s;
}
#story-3:hover{
background-color: #F2F2F2;
border-radius: 10px 10px 0px 0px;
cursor: pointer;

}
#story-1{
color:#1876F2;
border-bottom: 3px solid #1876F2;
width: 156px;
height: 60px;
text-align: center;
line-height: 60px;
transition: 0.1s;
}
#story-1:hover{
background-color: #F2F2F2;
border-radius: 10px 10px 0px 0px;
cursor: pointer;
}
.image{
height: 200px;
margin-bottom: 20px;
}
.image img{
width: 110px;
height: 200px;
object-fit: cover;
border-radius: 12px;
margin-top: 10px;
transition: 0.1s;
-webkit-box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
-webkit-transition: -webkit-transform 100ms ease-in;
transition: -webkit-transform 100ms ease-in;
transition: transform 100ms ease-in;
transition: transform 100ms ease-in, -webkit-transform 100ms ease-in;
}
.image img:hover{
cursor: pointer ;
-webkit-transform: scale(1.07);
transform: scale(1.07);
}
.image-slider{
width: 580px;
margin-top:10px;
padding-left:10px;

}
.slick-prev{
position: absolute;
top: 100px;
transform: translateY(-50%);
border:none;
width: 50px;
height:50px;
display: flex;
justify-content: center;
align-items: center;
z-index: 5;
border-radius: 50%;
font-size: 25px;
line-height: 1;
color:gray;


}
.slick-next{
position: absolute;
top: 100px;
left:438px;
transform: translateY(-50%);
border:none;
width: 50px;
height:50px;
display: flex;
justify-content: center;
align-items: center;
z-index: 5;
border-radius: 50%;
font-size: 25px;
line-height: 1;
color:gray;



}
.image-rooms{
height: 200px;
margin-bottom: 20px;
}
.image-rooms img{
width: 200px;
height: 190px;
object-fit: cover;
border-radius: 12px;
margin-top: 10px;
transition: 0.1s;
-webkit-box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
-webkit-transition: -webkit-transform 100ms ease-in;
transition: -webkit-transform 100ms ease-in;
transition: transform 100ms ease-in;
transition: transform 100ms ease-in, -webkit-transform 100ms ease-in;
}
.image-rooms img:hover{
cursor: pointer ;
-webkit-transform: scale(1.07);
transform: scale(1.07);
}
.image-slider-rooms{
width: 580px;
margin-top:10px;
padding-left:10px;

}
.slick-prev{
position: absolute;
top: 100px;
transform: translateY(-50%);
border:none;
width: 50px;
height:50px;
display: flex;
justify-content: center;
align-items: center;
z-index: 5;
border-radius: 50%;
font-size: 25px;
line-height: 1;
color:gray;


}
.slick-next{
position: absolute;
top: 100px;
left:520px;
transform: translateY(-50%);
border:none;
width: 50px;
height:50px;
display: flex;
justify-content: center;
align-items: center;
z-index: 5;
border-radius: 50%;
font-size: 25px;
line-height: 1;
color:gray;
}

.icon {
width: 160px;
padding-top: 12px;
display: flex;

}
.icon div img{
width:160px;
}
.img{

transition: 0.1s;
}
.img:hover{
cursor: pointer;
}
.status-update{
width: 600px;

border:1px solid#e5e5e5;
border-radius: 10px;
/* padding:10px; */
display:inline-block;
margin-top: 30px;
background-color: white;


}
.status-input{
border-bottom: 1px solid #e5e5e5;
padding-bottom:5px;
display: flex;
}
.status-ava{
width:50px;
height:50px;
border-radius: 50%;
cursor: pointer;
}

.submit{
width: 60px;
height:30px;
background-color: #1876F2;
position: absolute;
border-radius: 999px;
border: none;
color:white;
top:352px;
left:930px;


}
.submit:hover{
cursor: pointer;
}
.status-input input::placeholder{
font-size:18px;
padding-left: 5px;
}

/* input */
.container{
width: 580px;
margin: 10px;
border: 1px solid #e5e5e5;
border-radius: 10px;
background-color: white;

}

.container-flex{
display:flex;
align-items: center;
border-bottom:1px solid #e5e5e5;
padding: 10px;
background-color: white;
border-radius: 10px 10px 0px 0px;
}

.container .container-flex button {
width: 50px;
border-radius: 999px

}
.container #input {
width: calc(100% - 105px);
border-radius: 999px;
height:40px;
background-color: #F0F2F5;
margin: 5px;
outline: none;
border: none;

}
.container #input::placeholder{
  padding-left: 20px;
}

.status-ava{
width:50px;
height:50px;
border-radius: 50%;

}

.status-icon{
width: 450px;
cursor: pointer;
}




#list {
width: 580px;

display: flex;
flex-direction: column-reverse;
margin-left:-25px;
/* margin-top: 20px; */

}

#list .list-item{
list-style-type: none;

/* display: flex;
justify-content: space-between;
align-items: center; */

position: relative;

/* border: 1px solid #e5e5e5;
border-radius: 10px; */

}
#list .list-item img{
width: 50px;
height:50px;
border-radius: 50%;
}
.delete-btn {
padding: 5px 5px;

border: none;
background-color: white;
transition: 0.4s; 
position: absolute;
border-radius: 5px;
left:330px;

}
.delete-btn:hover {
background-color:#F0F2F5;
cursor: pointer;
}
.h-tt {
  border-radius: 5px;
  background-color: #E4E6EB;
  width: 80px;
}





#btn{
background-color: blue;
color:white;
padding:5px;
border:0;
border-radius: 999px;
transition: 0.4s;
}

#btn:hover{
background-color: lightseagreen;
cursor: pointer;
}

.h-likes {
  border-radius: 5px;
  color: grey;
}
.h-likes:hover {
  background-color: #F2F2F2;
}

.h-comment{
  margin: 10px;

}
.h-comment:hover {
  background-color: #F2F2F2;
}
/* Duy */
.layout {
    
    background-color: #F0F2F5;
    width: 300px;
    
}

.first-bar {
    width: 300px;
    height: 1000px;
    border: none;
    overflow:hidden;

    /* float: left; */
    background-color:#F0F2F5 ;
}

.first-bar:hover {
  overflow-y: scroll;
}

.nav-bar {
    list-style-type: none;
    
}
.item {
   display: flex;
   align-items: center;
   margin-left: -20px;
   padding: 5px;
   font-weight: 530;
   cursor: pointer;  
}

.item:hover{
    background-color: #E4E6E9;
    border-radius: 5px;
}
.item .av {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
/* Dropup Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropup content */
  .dropup {
    position: relative;
    display: inline-block;
  }
  
  /* Dropup content (Hidden by Default) */
  .dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropup */
  .dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  #more {display: none;}

.d-line {
    width: 280px;
    height: 0.5px;
    margin-left: 10px;
    margin-top: 5px;
    background-color: #CED0D4;
}
.d-short {
    margin: 10px;
    color: grey;
}
.edit{
    float: right;
    margin-right: 10px;
    margin-top: -45px;
    display: none;
    color: #3498DB;
    padding: 10px;
    align-items: center;
}
.d-detail {
  margin: 5px;
}



a:link {
  text-decoration: none;
  color: #717377;
}

a:visited {
  text-decoration: none;
  color: #717377;
  
}

a:hover {
  text-decoration: underline;
  color: #717377;
}

a:active {
  text-decoration: underline;
}

.end {
    color: #717377;
}

.btn-edit:hover .edit {
  display: block;
}

.edit:hover{
  background-color: #E4E6E9;
  border-radius: 5px;
  padding: 10px;
}

.icon1 {
  width: 36px;
  height: 36px;
  
}
.wu {
  margin-left: 10px;
}

#myBtn {
  padding: 5px ;
}

.round {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #E4E6EB;
}
.round:hover{
  background-color: #D8DADF;
}
#round-btn{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #E4E6EB;
  text-align: center;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: inline-block; */
}
/* .roundbtn .round-btn:hover {
  background-color: #D8DADF;
 
} */
.picture-group{
  width: 36px;
  height: 36px;
  border-radius: 7px;
}
.item .pce {
  display: flex;
  align-items: center;
  
}
.st {
  margin-left: 8px;
  
}

/* Thịnh */
.mess{
    /* padding: 8px 0px 0px; */
    width: 360px;
    height: 1000px;
    /* border: none; */
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #F0F2F5;
  }
  .addFr {
    padding: 20px 0px 4px;
  }
  
  .addFr .addFr1{
    padding: 0px 16px;
  }
  .addFr a:hover {
    background-color: #E4E6E9;
  }
  
  .cot1 img{
    border-radius: 50%;
    width: 80PX;
    height: 80px;
    object-fit: cover;
  }
  
  
  
  .to{
    display: flex;
    width: auto;
    justify-content: flex-start;
    height: 150px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
    
  }
  .to:hover{
    background-color: #E4E6E9;
    
  }
  
  .hang2 img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  .acp {
    margin-right: 10px;
    display: flex;
    justify-content: center;
  }
  
  a{
    text-decoration: none;
  }
  
  .cot2{
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .delete {
    margin-right: 10px;
  }
  .delete button{
    background-color: #D8DADF;
    border-color: #D8DADF;
    border-radius:5px;
    
  }
  .delete button:hover{
    background-color: #c1c2c5;
    border-color: #c1c2c5;
  }
  
  
  
  #icon i:hover{
    background-color: #D8DADF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
  
  #icon .iconbgr{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #allFr img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-left: 15px;
  }
  
  #allFr span{
    margin-left: 15px;
    color:black;
  }
  
  #allFr div{
    margin-top: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
  
  }
  
  #allFr div:hover{
    background-color: #D8DADF;
    width: 376px;
    
  }
  
  .box img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-left: 15px;
  }
  
  .box span{
    margin-left: 15px;
    color: #929395;
  }
  
  .box div{
    margin-top: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
  
  }
  
  .box div:hover{
    background-color: #D8DADF;
    width: 376px;
  }
  .plus i{
    background-color: #E4E6EB;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .end:hover{
    background-color: #D8DADF;
    width: 376px;
  }
  .t-friend {
    display: flex;
    align-items: center;
    border-radius: 5px;

  }


  .connect {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    position: absolute;
  }

  .back-ground {
    background-color: #F0F2F5;
    position: relative;
    z-index: 0;
  }
  /* interactive */
  /* popup container */
  #d-popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* the popup */
  .d-popup-icon{
    background-color: white;
    border-radius: 99px;
    /* display: inline-block; */
    cursor: pointer;
    
    position: absolute;
    z-index: 1;
    height: 55px;
    top: 110px;
   left:10px;
    width: 365px;
    margin-bottom: 100px;
    border: 1px solid #DFDFDF;
  
  }

  .d-gif {
    width: 50px;
    height: 50px;
    border-radius: 99px;
    padding: 3px;
    /* position: absolute; */
    
    
    
  }
  #d-popup .d-popup-icon .d-gif:hover {
    width: 55px;
    height: 55px;
    border-radius: 99px;
    transform: 0.7s;
    top:10px;
    bottom: 10px;
  }
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  
  /* #d-popup .show {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  } */

  /* hiện thanh comment */
#d-comment {
  visibility: hidden;
}

/* post facebook */
.post-content{
  width: 580px;
  border:1px solid #E0E1E4;
  border-radius: 10px;
  background-color: white;
  margin-left: 10px;
  margin-bottom: 10px;
 
}
.post-header{
  padding:10px;
}



.post-ava img{
  width: 50px ;
  height:50px;
  border-radius: 50%;
}
.post-header{
  display: flex;
  align-items:center;
  width: 580px;
}
.content-img img{
  width: 580px;
  height:450px;
  padding-bottom:20px;
}
.content-reaction{
  display:flex;
  justify-content: space-evenly;
  border-top:1px solid #CED0D4;
  border-bottom: 1px solid #CED0D4;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.post-comment img{
  width: 40px;
  height:40px;
  border-radius: 50px;
}
.post-comment{
  display:flex;
  padding:10px;
}
.post-comment input{
  border:none;
  background-color: #F0F2F5;
  border-radius: 999px;
  width: 500px;
  margin-left: 10px;
  outline:none;
}
.content-3dots{
  padding:10px;
  border-radius: 50%;
  transition: 0.4s;
}
.content-3dots:hover{
  background-color: #F2F2F2;
  cursor: pointer;
}
.post-name{
  font-weight: 600;
  transition: 0.4s;
  
}
.post-name:hover{
  cursor: pointer;
  text-decoration: underline;
}
.post-date{
  font-size:13px;
  color:#65676B;
  transition: 0.4s;
}
.post-date:hover{
  cursor: pointer;
  text-decoration: underline;
}
.content-text{
  font-size: 18px;
}

.content-reaction:hover{
  cursor: pointer;

}
  